<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.articles.doc"
   name="Eclipse Articles"
   version="1.0.2"
   provider-name="">
   <requires>
      <import plugin="org.eclipse.help"/>
   </requires>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
      <index path="org.eclipse.articles.doc.index"/>
   </extension>

</plugin>
